<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.team2706.scouting.mcmergemanager">

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name=".backend.App">
        <meta-data
            android:name="com.google.android.apps.drive.APP_ID"
            android:value="id=661008047959" />

        <activity
            android:name=".gui.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".steamworks2017.gui.PostGameClass"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".stronghold2016.gui.TeleopScouting"
            android:label="@string/title_activity_new_teleop_scouting"
            android:parentActivityName=".gui.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.team2706.scouting.mcmergemanager.gui.MainActivity" />
        </activity>
        <activity
            android:name=".gui.PreGameActivity"
            android:label="@string/title_activity_pre_game"
            android:parentActivityName=".gui.MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".gui.MainActivity" />
        </activity>
        <activity
            android:name=".stronghold2016.gui.AutoScouting"
            android:label="@string/title_activity_new_auto_scouting"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".gui.AboutActivity"
            android:label="About"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".gui.SettingsActivity"
            android:label="Settings"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".gui.MatchScheduleActivity"
            android:label="Schedule"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".steamworks2017.gui.TeamStatsActivity"
            android:label="@string/title_activity_team_stats"
            android:parentActivityName=".gui.MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.team2706.scouting.mcmergemanager.gui.MainActivity" />
        </activity>

        <activity
            android:name=".gui.CyclesDisplayActivity"
            android:label="@string/title_activity_cycles_display"
            android:parentActivityName=".gui.MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.team2706.scouting.mcmergemanager.gui.MainActivity" />
        </activity>
  
      <activity
            android:name=".gui.RepairTimeCollection"
            android:label="@string/title_activity_repair_time_collection"
            android:parentActivityName=".gui.MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.team2706.scouting.mcmergemanager.gui.MainActivity" />
        </activity>
    </application>
</manifest>
